{% extends 'base.html.twig' %}


{% block body %}

    <img class="image-principale" src="{{ asset('/images/annexes/photo_header.png') }}" alt="">

    <article class="bloc">
      <img class="image" src="{{ asset('/images/annexes/photo_presentation.png') }}" alt="">
      <div class="text-bloc">
          <h2> Bienvenue sur le site Post Partum ! </h2>
          <p> Nous sommes bien plus qu’un simple garage, nous sommes une équipe passionnée, qualifiée et dévouée à offrir un service exceptionnel.<br>
          En tant qu’entreprise établie dans le bassin toulousain depuis seulement 2 ans, nous bénéficions d’une solide réputation basée sur notre 
          expertise. Nous avons construit des relations durables avec nos clients grâce à des valeurs qui nous sont chères : transparence, honnêteté 
          et professionnalisme.<br><br>
          Je vous souhaite la bienvenue !</p>
      </div>
    </article>


{% endblock %}
