<footer>

    <div class="mention">
        <ul class="liste"> 
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
            <li><a href="{{ path('app_faq')}}">FAQ</a></li>
        </ul> 
    </div>

    <div class="reseaux">
        <h3> Retrouvez-moi sur les réseaux</h3>
        <div class="icones">
            <a href="#"><img src="{{ asset('/images/instagram.png') }}" alt="Retrouvez-moi sur Instagram"></a>
            <a href="#"><img src="{{ asset('/images/facebook.png') }}" alt="Retrouvez-moi sur Facebook"></a>
            <a href="#"><img src="{{ asset('/images/x.png') }}" alt="Retrouvez-moi sur X (anciennement Twitter)"></a>
        </div>
    </div>
    <p> ©Copyright 2024 - Léa SAENGER BERNARDO.</p>

</footer>
