/* Style des titres */

h2 {
    display: flex;
    justify-content: center;
}

.image-principale {
    width: 100%;
}

/* Home page */

.bloc {
    display: flex;
    flex-direction: column;
}

.text-bloc {
    margin-top: 3%;
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

#image_presentation {
    width: 372px;
    height: 375px;
    margin: auto;
}

.bloc_actu {
    display: flex;
    flex-direction: column;
    background-color: #F4E3C3;
}

.text-blocactu {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
}

.image_actu {
    width: 372px;
    height: 383.08px;
    margin: auto;
}

.nouveau_bloc {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 1%;
}

.homeblog {
    display : flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .bloc_homeblog {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }
  
  .article_homeblog {
    display: flex;
    flex-direction: column;
  }
  
  .texte_homeblog {
    margin-top: 1%;

  }

  #imageblog_presentation {
    width: 400px;
    height: 350px;
    margin: auto;
}

.class_titre {
    background-color: #F4E3C3;
    margin-bottom: 0;
    margin-top: 1%;
    padding-top: 1%;
}

/* PAGE SUBMIT */ 
.image_submit {
    width: 40% ;
    height: auto;
    margin-bottom: 1%;
}
.reponse {
    display: flex;
    flex-direction: column;
    margin: 5%;
    align-items: center;
}
.boutton_accueil {
    margin-top: 1%;
}

.post_titre_accueil {
    text-align: center;
    padding-top: 1%;
}
  
  @media screen and (min-width: 850px) {
    .homeblog {
      display : flex;
      flex-direction: row;
      margin-left: 5%;
      margin-right: 3%;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  
    .bloc_homeblog {
      display: flex;
      flex-direction: column;
      margin-left: 2%;
      margin-right: 2%;
    }
  
    .article_homeblog {
      display: flex;
      flex-direction: row-reverse;
    }
  
    .texte_homeblog {
      margin-left: 4%;
      margin-right: 4%;
    }
  }

@media screen and (min-width: 850px) {
    .bloc {
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    .text-bloc {
        margin-top: 1%;
        margin-right: 5%;
    }

    #image_presentation {
        width: 372px;
        height: 375px;
        margin: auto;
    }

    .bloc_actu {
        display: flex;
        flex-direction: column;
        margin-bottom: 1%;
    }

    .text-blocactu {
        display: flex;
        flex-direction: row;
    }

    .image_actu {
        width: 372px;
        height: 383.08px;
        margin: auto;
    }

    .nouveau_bloc {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
    }

    .class_titre {
        background-color: #F4E3C3;
        margin-top: 1%;

        padding-top: 1%;
    }

    .post_titre_accueil {
        text-align: center;
    }
}

/* Images blog */ 

#image_blog {
    width: 326px;
    height: 214px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

/* Images Post */
#image_post {
    width: 100%;
}

/* Images Evènement */
#image_evenement {
    width: 50%;
}

/* Image Evènement sur la page Index*/
#image_evenementindex {
    width: 370px;
    margin-top: 1%;
}

#image_blogindex {
    width: 340px;
    margin: auto;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mention {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 94, 111);
    width: 100%;
    color: white;
}

.mention ul {
    margin: 0;
}

ul li {
    list-style: none;
}

ul li a {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
}

.reseaux {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icones {
    flex-direction: row;
}

/* Articles */
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
}

/* Articles dans le blog */

.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.article_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.article_texte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtre {
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
}

/* MEDIAQUERIES BLOG */ 
@media screen and (min-width: 850px) {
    .post {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .article_post {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width : 25%;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .article_texte {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filtre {
        margin-left: 10%;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    #image_evenementindex {
        width: 400px;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 2%;
    }

    #image_blogindex {
        width: 370px;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-right: 2%;
  }

}

/*MEDIAQUERIES POST */
@media screen and (min-width:850px){
    .article {
        display: flex;
        flex-direction: column;
        margin-left: 29%;
        margin-right: 29%;
        align-items: center;
    }
}

/* MEDIAQUERIES FOOTER */

@media screen and (min-width: 850px) {
    .mention {
        height: 100px;
    }
    
    footer ul {
        display: flex;
        flex-direction: row;
    }

    footer ul li {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        align-items: center;
    }

}


.login {
    margin: 2%;
}

@media screen and (min-width: 750px) {
    .login {
        margin-left : 10%;
        margin-right: 10%;
    }
}

.cadreform {
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width: 850px) {
.cadreform {
    margin-left: 20%;
    margin-right: 20%;
}
}

.faq {
    width: 70%;
    padding-top: 1%;
    padding-bottom: 2%;
    margin: auto;
}

/* RUBRIQUE POST */

.comment {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#user_ban {
    display: none;
}

.commentaires {
    margin-top: 10px;
    margin-bottom: 10px
}

.contenu_commentaires {
    border: none;
    border-radius: 10% 10%;
    background-color: #FFF4DA;
    padding-left: 20%;
    padding-right: 20%;
}
.image_signup {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10px;
}

@media screen and (min-width: 850px) {
    .comment {
        margin-left: 20%;
        margin-right: 20%;
    }
    .commentaires {
        margin-top: 10px;
        margin-bottom: 10px
    }

    .contenu_commentaires {
        border: none;
        border-radius: 10% 10%;
        padding-left: 20%;
        padding-right: 20%;
    }
    .image_signup {
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 10px;
    }
}



