/* Style des titres */

h2 {
    display: flex;
    justify-content: center;
}

.image-principale {
    width: 100%;
}

/* Home page */

.bloc {
    display: flex;
    flex-direction: column;
}

.text-bloc {
    margin: 5%;
}

#image_presentation {
    width: 372px;
    height: 375px;
    margin: auto;
}

.bloc_actu {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 221, 221);
}

.text-blocactu {
    margin: 5%;
}

.image_actu {
    width: 372px;
    height: 383.08px;
    margin: auto;
}

.homeblog {
    display : flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  
  .bloc_homeblog {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
  }
  
  .article_homeblog {
    display: flex;
    flex-direction: column;
  }
  
  .texte_homeblog {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  #imageblog_presentation {
    width: 400px;
    height: 350px;
    margin: auto;
}
  
  @media screen and (min-width: 850px) {
    .homeblog {
      display : flex;
      flex-direction: row;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  
    .bloc_homeblog {
      display: flex;
      flex-direction: column;
      margin-left: 2%;
      margin-right: 2%;
    }
  
    .article_homeblog {
      display: flex;
      flex-direction: row-reverse;
    }
  
    .texte_homeblog {
      margin-left: 7%;
      margin-right: 7%;
      margin-top: 2%;
      margin-bottom: 3%;
    }
  }

@media screen and (min-width: 850px) {
    .bloc {
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
    }

    .text-bloc {
        margin-top: 1%;
        margin-right: 5%;
    }

    #image_presentation {
        width: 372px;
        height: 375px;
        margin: auto;
    }

    .bloc_actu {
        display: flex;
        flex-direction: row;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .text-blocactu {
        margin-top: 1%;
        margin-right: 5%;
    }

    .image_actu {
        width: 372px;
        height: 383.08px;
        margin: auto;
    }
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mention {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(85, 94, 111);
    width: 100%;
    color: white;
}

.mention ul {
    margin: 0;
}

ul li {
    list-style: none;
}

ul li a {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
}

.reseaux {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icones {
    flex-direction: row;
}

/* Articles */
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

/* Articles dans le blog */

.post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.article_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.article_texte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtre {
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
}

/* MEDIAQUERIES BLOG */ 
@media screen and (min-width: 850px) {
    .post {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .article_post {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width : 25%;
        margin: 50px;
    }

    .article_texte {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filtre {
        margin-left: 10%;
        margin-top: 3%;
        margin-bottom: 1%;
    }

}

/*MEDIAQUERIES POST */
@media screen and (min-width:850px){
    .article {
        display: flex;
        flex-direction: column;
        margin-left: 29%;
        margin-right: 29%;
        align-items: center;
    }
}

/* MEDIAQUERIES FOOTER */

@media screen and (min-width: 850px) {
    .mention {
        height: 100px;
    }
    
    footer ul {
        display: flex;
        flex-direction: row;
    }

    footer ul li {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        align-items: center;
    }

}


.login {
    margin: 2%;
}

@media screen and (min-width: 750px) {
    .login {
        margin-left : 10%;
        margin-right: 10%;
    }
}
