{% extends 'base.html.twig' %}

{% block title %}Mentions légales {% endblock %}

{% block body %}

<h2 class="m-2"> Mentions légales </h2>

<div class="text-center m-2">
  <img class="img-fluid w-50" src="{{ asset('/images/annexes/photo_mentions.png') }}" alt="Bienvenue sur la rubrique Foire aux Questions">
</div>

<div class="mx-5">

    <h3 class="tfw-semibold"> ## 1. Informations légales </h3>
        <p class="mx-3"> **Nom du site web :** POST-PARTUM <br>
        **Adresse :** <br>
        **Téléphone :** <br>
        **Email :** lea.bernardo90@gmail.com </p>

    <h3 class="tfw-semibold">## 2. Propriété intellectuelle</h3>
        <p class="mx-3"> Le contenu de ce site, y compris, sans s'y limiter, les images, les graphiques, le texte et autres matériaux, sont protégés par les droits d'auteur. 
        Aucun contenu ne peut être copié, reproduit, republié, téléchargé, posté, transmis ou distribué de quelque manière que ce soit sans l'autorisation préalable écrite de 
        [Nom de votre entreprise].</p>

    <h3 class="tfw-semibold">## 3. Limitation de responsabilité</h3>
        <p class="mx-3">POST-PARTUM ne peut être tenu responsable de tout dommage direct ou indirect résultant de l'accès ou de l'utilisation de ce site et/ou de ces informations.</p>

    <h3 class="tfw-semibold">## 4. Données personnelles</h3>
        <p class="mx-3">Les informations que vous nous fournissez par le biais des formulaires de contact, des commentaires sur le blog ou par toute autre forme de contact peuvent être stockées et utilisées
        pour vous répondre ou pour améliorer nos services. Nous ne partageons pas vos informations avec des tiers sans votre consentement explicite.</p>

    <h3 class="tfw-semibold">## 5. Cookies</h3>
        <p class="mx-3">Ce site utilise des cookies pour améliorer l'expérience utilisateur et pour analyser le trafic du site. En utilisant ce site, vous acceptez l'utilisation de cookies.</p>

    <h3 class="tfw-semibold">## 6. Modifications</h3>
        <p class="mx-3">Nous nous réservons le droit de modifier à tout moment les présentes mentions légales. Ces modifications entreront en vigueur dès leur mise en ligne sur le site.</p>

    <h3 class="tfw-semibold"> ## 7. Hébergement</h3>

        <p class="mx-3">**Nom de l'hébergeur :** Heroku <br>
        **Description :** Heroku est une plateforme en tant que service basée sur un système de conteneurs gérés. La société Heroku Inc dont le siège social est : 321 11th St, San Francisco, CA, 94103, United
        States</p>

    <h3 class="tfw-semibold"> ## 8. Typographie </h3>
        <p class="mx-3">La typographie de ce site a été réalisée à l'aide de Bootstrap. Bootstrap offre une manière simple de styliser le texte sur les pages web et laisse à disposition des développeurs un 
        ensemble de composant dont certains ont été utilisé pour la réalisation de ce site. </p>

</div>

{% endblock %}
