{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

<h2> Politique de Confidentialité </h2>

<div class="text-center m-2">
  <img class="img-fluid w-50" src="{{ asset('/images/annexes/photo_politique.png') }}" alt="Bienvenue sur la rubrique Foire aux Questions">
</div>

<div class="mx-5">

    <h3 class="tfw-semibold">1. Collecte des informations personnelles </h3>
        <p class="mx-3">Nous collectons les informations suivantes :
        - Nom
        - Prénom
        - Adresse électronique
        Les informations personnelles que nous collectons sont recueillies au travers de formulaires et grâce à l'interactivité établie entre vous et notre site Web.</p>

    <h3 class="tfw-semibold">2. Utilisation des informations </h3>
       <p class="mx-3"> Les informations que nous collectons auprès de vous peuvent être utilisées pour :
        - Répondre à vos demandes
        - Améliorer notre site Web
        - Améliorer le service client</p>

    <h3 class="tfw-semibold">3. Partage des informations personnelles </h3>
        <p class="mx-3">Nous nous engageons à ne pas vendre à des tiers ni à céder vos informations personnelles, sauf avec votre consentement explicite.</p>

    <h3 class="tfw-semibold">4. Droit d'opposition et de retrait </h3>
        <p class="mx-3">Nous nous engageons à vous offrir un droit d'opposition et de retrait quant à vos informations personnelles. Le droit d'opposition 
        s'entend comme étant la possibilité offerte aux internautes de refuser que leurs informations personnelles soient utilisées à certaines fins mentionnées lors de la collecte.</p>

    <h3 class="tfw-semibold">5. Sécurité </h3>
        <p class="mx-3">Les informations personnelles que nous collectons sont conservées dans un environnement sécurisé. Les personnes travaillant pour nous 
        sont tenues de respecter la confidentialité de vos informations.</p>
 
    <h3 class="tfw-semibold">6. Modifications </h3>
        <p class="mx-3">Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Ces modifications entreront en vigueur dès leur mise en ligne sur le site.</p>

</div>

{% endblock %}
