{% extends 'base.html.twig' %}

{% block title %} Découvrez tous mes posts ! {% endblock %}


{% block body %}

    {% for Post in Post %}
        <p> Article publié le {{ Post.getJourRedaction|format_date('long', locale='fr')}} </p>
        <h2> {{ Post.gettitre() }} </h2>
        <p> {{ Post.getarticle( )}} </p>
        Catégorie : {{ Post.getcategorie}}
    {% endfor %}

{% endblock %}
